force-app/main/default/flows/Account_Roll_Ups.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Add_to_Awarded_Totals</name>
        <label>Add to Awarded Totals</label>
        <locationX>528</locationX>
        <locationY>636</locationY>
        <assignmentItems>
            <assignToReference>awardedSum</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Funding_Requests.outfunds__Awarded_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>awardedCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Funding_Requests</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Requested_Totals</name>
        <label>Add to Requested Totals</label>
        <locationX>264</locationX>
        <locationY>636</locationY>
        <assignmentItems>
            <assignToReference>requestedSum</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Funding_Requests.outfunds__Requested_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestedCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Funding_Requests</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Totals</name>
        <label>Set Totals</label>
        <locationX>176</locationX>
        <locationY>948</locationY>
        <assignmentItems>
            <assignToReference>$Record.Total_Funds_Requested__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>requestedSum</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Funding_Requests_Made__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>requestedCount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Total_Funds_Awarded__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>awardedSum</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Successful_Requests__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>awardedCount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Filter_by_Status</name>
        <label>Filter by Status</label>
        <locationX>528</locationX>
        <locationY>516</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Funding_Requests</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Requested</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Funding_Requests.outfunds__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Awarded</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Through_Funding_Requests.outfunds__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Fully Disbursed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_Requested_Totals</targetReference>
            </connector>
            <label>Requested</label>
        </rules>
        <rules>
            <name>Awarded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Funding_Requests.outfunds__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awarded</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Through_Funding_Requests.outfunds__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fully Disbursed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_Awarded_Totals</targetReference>
            </connector>
            <label>Awarded</label>
        </rules>
    </decisions>
    <interviewLabel>Account Roll-Ups {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Roll-Ups</label>
    <loops>
        <name>Loop_Through_Funding_Requests</name>
        <label>Loop Through Funding Requests</label>
        <locationX>176</locationX>
        <locationY>396</locationY>
        <collectionReference>Get_Funding_Requests</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Filter_by_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Totals</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Funding_Requests</name>
        <label>Get Funding Requests</label>
        <locationX>176</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Funding_Requests</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>outfunds__Applying_Organization__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>outfunds__Funding_Request__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>outfunds__Requested_Amount__c</queriedFields>
        <queriedFields>outfunds__Recommended_Amount__c</queriedFields>
        <queriedFields>outfunds__Awarded_Amount__c</queriedFields>
        <queriedFields>outfunds__Application_Date__c</queriedFields>
        <queriedFields>outfunds__Awarded_Date__c</queriedFields>
        <queriedFields>outfunds__Status__c</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>176</locationX>
        <locationY>1068</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Funding_Requests</targetReference>
        </connector>
        <object>Account</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2021-02-25</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <description>Counts the number of Awarded or Fully Disbursed Funding Requests for Each Account</description>
        <name>awardedCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Totals the value of Grants Awarded for each Account</description>
        <name>awardedSum</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>requestedCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>requestedSum</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
